.container {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
}
.content {
  width: 600px;
  height: 400px;
  background-color: #1d1d1d;
  border-radius: 10px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-size: 23px;
}
